<div mat-dialog-title>
  <span class="title">유저 상세조회</span>
  <button mat-icon-button class="btn-close" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content>

  <table>
    <tr class="">
      <th> ID </th>
      <td> {{ user?.id }} </td>
    </tr>

    <tr class="">
      <th> 이름 </th>
      <td> {{ user?.name }} </td>
    </tr>

    <tr class="">
      <th> 이메일 </th>
      <td> {{ user?.email }} </td>
    </tr>
    
    <tr class="">
      <th> 입사일 </th>
      <td> {{ user?.join }} </td>
    </tr>

    <tr class="">
      <th> 부서 </th>
      <td> {{ user?.team.name }} </td>
    </tr>
  </table>

</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button class="bottom-btn" color="primary" (click)="openUpdate()">수정</button>
  <button mat-raised-button class="bottom-btn" color="primary" (click)="openDelete()">삭제</button>
</div>

