.mat-dialog-title {
    height: 40px;
}

.mat-dialog-title>span {
    font-family: 'Fontil Sans';
    font-size: 30px;
}

.btn-close {
    float: right;
}


table {
    width: 100%;
}

tr {
    height: 40px;
}

th {
    width: 30%;
    border: 1px solid black;
    background: aliceblue;
}

td {
    width: 70%;
    padding-left: 20px;
    border: 1px solid black;
}

button {
    margin: 5px;
}


.bottom-div {
    float: center;
    text-align: center;
}

.bottom-btn {
    float: center;
    text-align: center;
}