
<div mat-dialog-title [ngSwitch]="state">
  <span *ngSwitchCase="'add'">유저 생성</span>
  <span *ngSwitchCase="'update'">유저 정보 수정</span>
  <button mat-icon-button class="btn-close" (click)="closeDialog()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div mat-dialog-content class="form-container">
  <mat-form-field>
    <input matInput placeholder="id" [(ngModel)]="user.id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="email" [(ngModel)]="user.email">
  </mat-form-field>      
  <mat-form-field>
    <input matInput placeholder="teamId" [(ngModel)]="user.team.id" readonly>
    <button mat-icon-button class="btn-team" (click)="openSelectTeam()"><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="teamName" value="{{ user?.team.name }}" readonly>
  </mat-form-field>
</div>

<div mat-dialog-actions align="center" [ngSwitch]="state">
  <button mat-raised-button color="primary" *ngSwitchCase="'add'" [mat-dialog-close]="user">생성</button>
  <button mat-raised-button color="primary" *ngSwitchCase="'update'" [mat-dialog-close]="user">수정</button>
  <button mat-raised-button color="primary" (click)="closeDialog()">취소</button>
</div>

