
<div mat-dialog-title [ngSwitch]="state">
    <span *ngSwitchCase="'add'">유저 생성</span>
    <span *ngSwitchCase="'update'">유저 정보 수정</span>
    <button mat-button class="btn-close" (click)="closeDialog()">X</button>
</div>

<div mat-dialog-content class="form-container">
  <mat-form-field>
    <input matInput placeholder="id" [(ngModel)]="user.id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="name" [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="email" [(ngModel)]="user.email">
  </mat-form-field>      
  <mat-form-field>
    <input matInput placeholder="teamId" [(ngModel)]="user.team.id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="teamName" value="{{ user?.team.name }}" readonly>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="openSelect()">검색</button>

</div>

<div mat-dialog-actions [ngSwitch]="state">
  <button mat-stroked-button color="primary" *ngSwitchCase="'add'" [mat-dialog-close]="user">생성</button>
  <button mat-stroked-button color="primary" *ngSwitchCase="'update'" [mat-dialog-close]="user">수정</button>
  <button mat-stroked-button color="primary" (click)="closeDialog()">취소</button>
</div>

