.form-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
  
.form-container > * {
    width: 100%;
}
  
.btn-close {
    float: right;
}

.mat-dialog-title>span {
    font-size: 30px;
}