<h3>유저 관리</h3>

<search-form [searchList]="searchList" (sendEvent)="[selectDataList($event)]"></search-form>

<div id="toolbar">
  <button class="toolbar-btn" mat-raised-button color="primary" (click)="openForm()">생성</button>
  <button class="toolbar-btn" mat-raised-button color="primary" (click)="deleteChecked()">삭제</button>
</div>

<app-user-list
  [displayedColumns]="displayedColumns"
  [tableHeaders]="tableHeaders"
  [pageInfo]="pageInfo"
  [length]="length"
  [list]="list"
  (event)="userListEventHandler($event)"
></app-user-list>