<table matSort (matSortChange)="sortData($event)" class="basic">
  <tr>
    <th *ngIf="showCheckBox">
      <mat-checkbox></mat-checkbox>
    </th>
    <th *ngFor="let columnName of propertyNames; let i=index" mat-sort-header="{{columnName}}" >
      <p class="tb-header"> {{ tableHeaders[i] }} </p>
    </th>
  </tr>

  <tr *ngFor="let obj of list; let i=index" class="row-box" id="row{{i}}" (click)="selectRow(i)">
    <td *ngIf="showCheckBox"><mat-checkbox></mat-checkbox></td>
    <td *ngFor="let propertyName of toList(obj)">
      {{ obj['team'].name }}
    </td>
  </tr>
</table>

<mat-paginator [length]="length" [pageSize]="pageInfo.pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent=$event; paginate($event)">
</mat-paginator>

