.mat-form-field {
   width: 85%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 10%;
    max-width:370px;
}
.date-field {
    float: right;
    position: relative;
    
    
}
.date-field mat-form-field {
    width: 40%;
    float: center;
    margin-right: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
mat-card {
    position: relative;

}
#send-btn {
    float: right;
    bottom: 30px;
}
